.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
.venv
venv
frontend/node_modules
build
# frontend/build (Habilitado para que Docker lo pueda copiar)
node_modules
staticfiles
nixpacks.toml
package.json
deployment-*.txt
