# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Build artifacts
staticfiles/
# frontend/build/ (Eliminado para permitir deploy hibrido)

# Dependencies
frontend/node_modules/

# Local copies
copia/
