/* ------------------------------------------------- */
/* Styles                                            */
/* ------------------------------------------------- */
em {
  display: inline-block;
}

/* ------------------------------------------------- */
/* Basic selectors                                   */
/* ------------------------------------------------- */
/* 1 - Universal selector */
* {
  margin: 0px;
  padding: 0px;
}

/* 2 - Element selector */
h1,
h2 {
  font-family: sans-serif;
  color: blue;
}

/* 3 - Class selector */
.america {
  color: red;
}
em.america {
  color: green;
}

/* ID selector */
#a2013 {
  color: deepskyblue;
}

/* ------------------------------------------------- */
/* Advanced selectors (Attribute selectors)          */
/* ------------------------------------------------- */
li[id] {
  margin-left: 50px;
}

/* Código del ejercicio 1 */

li[id^="a200"] {
  text-decoration: underline;
}

/* ------------------------------------------------- */
/* Advanced selectors (Pseudo-classes)               */
/* ------------------------------------------------- */

/* Código del ejercicio 2 */

h2:hover {
  background-color: chartreuse;
}

/* ------------------------------------------------- */
/* Advanced selectors (Pseudo-elements)              */
/* ------------------------------------------------- */

/* Código del ejercicio 3 */

li::after {
  content: " (" attr(class) ")";
}
